body {
  max-width: 1500px;
}

.simulatorToggle {
  margin-top: -53px;
  margin-left: 300px;
}

.simulatorToggleTitle {
  margin: 10px;
}

.refreshButton {
  margin-left: 1440px;
  background-color: transparent;
  margin-top: -1px;
}

.mat-column-ticker {
  flex: 0 0 3% !important;
  min-width: 55px !important;
}

.mat-column-contractSymbol {
  flex: 0 0 18% !important;
  min-width: 104px !important;
}

.mat-column-strikePrice {
  flex: 0 0 3% !important;
  min-width: 100px !important;
}

.mat-column-expirationDate {
  flex: 0 0 9% !important;
  min-width: 90px !important;
}

.mat-column-volatility {
  flex: 0 0 14% !important;
  min-width: 90px !important;
}

.mat-column-spotPrice {
  flex: 0 0 20% !important;
  min-width: 90px !important;
}

.spatitle {
  text-align: center;
  text-decoration: underline;
  margin-top: -15px;
}

.example-tab-icon {
  margin-right: 8px;
}

.mdc-tab--active {
  background: gainsboro;
  border-radius: 10px;
}

.displayTab2 .inputcontainer {
  border-radius: 25px;
  border: 1px dotted gray;
  width: 93.5%;
  height: 250px;
}

.mat-mdc-form-field-flex {
  height: auto;
}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
  margin-top: 20px;
}

.mat-mdc-form-field {
  margin-bottom: 20px;
}

.displayTab2 .addInstrumentButton {
  margin-top: -1%;
  margin-left: 18%;
  color: blue;
  position: relative;
}

.displayTab2 .generateSetButton {
  margin-top: -6%;
  margin-left: 54%;
  color: blue;
  width: 100%;
  position: relative;
}

.displayTab2 .generatePriceButton {
  margin: -100px -221px 28% 0;
  color: blue;
  float: right;
}

.displayTab2 .resetButton {
  margin: 23% -0.5% 0 0;
  float: right;
  color: red;
}

.displayTab2 .v1 {
  border-left: 2px dotted gray;
  height: 235px;
  position: absolute;
  left: 25%;
  top: 10px;
}

.displayTab2 .instumentData {
  margin-top: -25px;
}

.displayTab2 .v2 {
  border-left: 2px dotted gray;
  height: 235px;
  position: absolute;
  left: 60%;
  top: 10px;
}

.displayTab2 .instrumentProgress {
  background-color: lightgrey;
  width: 99%;
  height: 100px;
  margin-top: 2%;
  resize: none;
  font-size: 14px;
  font-weight: normal;
  resize: none;
  overflow-y: scroll;
}

.displayTab2 .alert {
  margin: 8px;
  height: 30px;
  color: red;
}

.tabularResult {
  height: 300px;
}

.upload {
  margin-top: 0;
  margin-left: 20px;
}

.table-align {
  margin-left: -20px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 450px;
  overflow: visible;
  margin-top: 30px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-sort-header-content {
  font-weight: 600;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

mat-header-cell,
mat-cell {
  justify-content: center;
}

.cdk-overlay-pane {
  background-color: lightgrey;
  position: absolute;
}
