<h2 class="spatitle">{{title}}</h2>
<mat-tab-group (selectedTabChange)="onChange($event)">
  <mat-tab label="{{tab1Title}}">
    <ng-template mat-tab-label class="example-tab">
      <h3 class="tabTile">{{tab1Title}}</h3>
    </ng-template>
  </mat-tab>
  <mat-tab label="{{tab2Title}}">
    <ng-template mat-tab-label>
      <h3 class="tabTile">{{tab2Title}}</h3>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<div *ngIf="dataSource && displayTab1" class="tabularResult">
  <div style="position: absolute;margin-top: 10px;">
    <mat-form-field><mat-label>Search</mat-label>
      <input style="height: 50px;margin-top: 25px;" matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>
    <div class="simulatorToggle">
      <span>Simulation Enabled ?</span><mat-slide-toggle class="simulatorToggleTitle" [checked]="isSimulationEnabled" (change)="toggle($event)"></mat-slide-toggle>
    </div>
    <button class="refreshButton" (click)="refresh()"><mat-icon>refresh</mat-icon></button>
  </div>
  <div>
    <mat-paginator [length]="dataSource.data?.length" [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100, 500, 1000, 2000]"
      aria-label="Select page" showFirstLastButtons></mat-paginator>
  </div>
  <div class="example-container">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
        <mat-header-cell class="table-header header-p" *matHeaderCellDef mat-sort-header><b>{{col}}</b></mat-header-cell>
        <div *ngIf="col !== 'spotPrice'">
          <mat-cell class="table-content context-position" *matCellDef="let element">{{element[col]}}</mat-cell>
        </div>
        <div *ngIf="col === 'spotPrice'">
          <mat-cell class="table-content context-position" *matCellDef="let element" style="border-radius: 5px" [ngStyle]="{'background-color': getBackgroundColor(element, col)}">
            <span *ngIf="element.valid===1"><mat-icon color="primary">trending_up</mat-icon>{{element[col]}}</span>
            <span *ngIf="element.valid===-1"><mat-icon color="warn">trending_down</mat-icon>{{element[col]}}</span>
            <span *ngIf="element.valid===0 || !isSimulationEnabled">{{element[col]}}</span>
          </mat-cell>
        </div>
      </ng-container>
      <mat-header-row class="table-header header-p-row" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div><br>
</div>


<div *ngIf="displayTab2" class="displayTab2">
  <div style="position: absolute;margin-top: 10px;" class="inputcontainer">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="saveDetails(form)" autocomplete="off">
          <div>
            <mat-form-field>
              <mat-label>Ticker :</mat-label>
              <input matInput placeholder="Enter ticker symbol" formControlName="ticker">
              <mat-icon matPrefix>extension</mat-icon>
              <mat-error *ngIf="form.controls['ticker'].errors?.['required']" class="alert">Ticker is required</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Contract ID :</mat-label>
              <input matInput formControlName="contractId" placeholder="Enter contract id">
              <mat-icon matPrefix>account_balance</mat-icon>
              <mat-error *ngIf="form.controls['contractId'].errors?.['required']" class="alert">Contract ID is required</mat-error>
            </mat-form-field>
          </div>
          <div class="addInstrumentButton">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Add Instrument</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="v1"></div>

  <div class="resetButton">
    <button mat-raised-button color="primary" type="submit"(click)="reset()">Reset</button>
  </div>
</div>
