.spatitle {
	justify-content: center;
	margin-left: 30%;
	margin-top: -15px;
}

.titlehr {
	margin-left: 28%;
	margin-top: -8px;
	width: 415px;
}

.inputcontainer {
	border-radius: 25px;
	border: 1px dotted gray;
	width: 110%;
	height: 170px;
}

.v1 {
	border-left: 2px dotted gray;
	height: 100px;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 130px;
}

.dynamicdatagenerator {
	margin-left: 65px;	
}

.conditional {
	text-align: left;
	margin-left: -18px;
	margin-top: 50px;
}

.staticdatagenerator {
	margin-top: -108px;
	margin-left: 65px;
}

.file-input {
  display: none;
}

.alert {
	margin-top: -3px;
    height: 35px;
    color: red;
}