body {
  max-width: 1500px;
}

.mat-column-ticker {
  flex: 0 0 3% !important;
  min-width: 80px !important;
}

.mat-column-contractSymbol {
  flex: 0 0 18% !important;
  min-width: 104px !important;
}

.mat-column-expirationDate {
  flex: 0 0 11% !important;
  min-width: 90px !important;
}

.spatitle {
  text-align: center;
  text-decoration: underline;
  margin-top: -15px;
}

.example-tab-icon {
  margin-right: 8px;
}

.mdc-tab--active {
  background: gainsboro;
  border-radius: 10px;
}

.inputcontainer {
  border-radius: 25px;
  border: 1px dotted gray;
  width: 100%;
  height: 120px;
}

.v1 {
  border-left: 2px dotted gray;
  height: 100px;
  position: absolute;
  left: 45%;
  top: 90px;
}

.dynamicdatagenerator {
  margin-left: 65px;
  display: inline-block;
}

.conditional {
  text-align: left;
  margin-left: -18px;
  margin-top: 50px;
}

.staticdatagenerator {
  margin-top: -80px;
  margin-left: 65px;
}

.file-input {
  display: none;
}

.alert {
  margin-top: -3px;
  height: 35px;
  color: red;
}

.tabularResult {
  height: 300px;
}

.upload {
  margin-top: 0;
  margin-left: 20px;
}

.table-align {
  margin-left: -20px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 450px;
  overflow: scroll;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-sort-header-content {
  font-weight: 600;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

mat-header-cell,
mat-cell {
  justify-content: center;
}

.cdk-overlay-pane {
  background-color: lightgrey;
  position: absolute;
}

.mat-column-spotPrice {
  flex: 0 0 12% !important;
  min-width: 104px !important;
}