<h1 class="spatitle">{{title}}</h1>
<hr class="titlehr"><br>
<mat-tab-group (selectedTabChange)="onChange($event)">
  <mat-tab label="{{tab1Title}}">
    <ng-template mat-tab-label class="example-tab">
      <h3 class="tabTile">{{tab1Title}}</h3>
    </ng-template>
  </mat-tab>
  <mat-tab label="{{tab2Title}}">
    <ng-template mat-tab-label>
      <h3 class="tabTile">{{tab2Title}}</h3>
    </ng-template>
  </mat-tab>
</mat-tab-group><br>
<div *ngIf="dataSource && displayTab1" class="tabularResult">
  <br>
  <mat-form-field>Search<mat-label></mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  </mat-form-field>
  <div class="example-container">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
        <mat-header-cell class="table-header header-p" *matHeaderCellDef
          mat-sort-header><b>{{col}}</b></mat-header-cell>
        <mat-cell class="table-content context-position" *matCellDef="let element">{{element[col]}}</mat-cell>
      </ng-container>
      <mat-header-row class="table-header header-p-row" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row matRipple class="{{row.cellHighlightColor}}"
        *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div><br>
  <mat-paginator [length]="dataSource.data?.length" [pageSize]="50" [pageSizeOptions]="[50, 100, 500, 1000, 2000]"
    aria-label="Select page" showFirstLastButtons></mat-paginator>
</div>